%section#hero.hero-big{ style: 'background:rgba(0,0,0,0.06);'}
  #page-title.wrapper
    %h1
      Welcome,
      %strong
        %em friend
    %h5.title-alt Sign in as an admin here to manage team member profiles.

    .spacer-small
    = render 'sessions/form'
