.spacer-big
.spacer-medium
.wrapper.align-center
  %h1
    %strong
      %em Thanks.
  .spacer-medium
  %h5.title-alt
    We've received your submission.
.spacer-big
.spacer-medium

.fullwidth-section.text-light{:style => "background: url('#{image_path('pattern.jpg')}') center center; -webkit-background-size:46px 7px; -moz-background-size:46px 7px; -o-background-size:46px 7px; background-size:46px 7px;"}
  .fullwidth-content
    %blockquote.align-center
      %p In any moment of decision, the best thing you can do is the right thing, the next best thing is the wrong thing, and the worst thing you can do is nothing.
      %cite Theodore Roosevelt
