%section#hero.hero-auto
  #page-title.post-title.wrapper.align-center
    %h1.post-name Apply for membership in the Silicon Balls fund
%section#page-body
  #blog-single
    .blog-content.wrapper-small
      %p Silicon Balls is an early-stage technology investment fund dedicated to the growth and success of Adelaide's tech entrepreneurship sector.
      %p We currently have seats available for a small number of additional members.
      %h4
        %strong We will consider applicants that:
      %ul
        %li Have considerable personal experience with early-stage technology companies, preferably as founder, investor, key employee, or key service-provider
        %li Are willing to invest up our minimum buy
        %li Are a good fit in terms of skills, attitudes and culture

      %h5.title-alt To apply, please introduce yourself using our contact form.
      %p.align-center
        = link_to 'Contact Us', contact_path, class: 'sr-button button-big'
    %p
    .spacer-medium
