%section#hero.hero-big
  #page-title.wrapper-small.align-center
    %h1
      %strong
        %em Thanks.
    .spacer-medium
    %h5.title-alt
      We've received your submission.
.spacer-big
.spacer-medium
