.spacer-big
.spacer-medium

.wrapper
  %h2= team_member.name
  %h4.title-alt Editing as admin
  = render 'form', team_member: team_member
  - if team_member.persisted?
    .right-float.text-light
      = button_to 'Remove profile', team_member_path(team_member), role: 'button', method: :delete

.spacer-medium
