%section#hero.hero-auto{ style: 'background:rgba(0,0,0,0.06)' }
  #page-title.wrapper
    %h6.title-alt.uppercase Meet our people
    %h2.title-alt
      %strong
        We're technologists, CEOs,
        %br
        founders, entrepreneurs, lawyers,
        %br
        beer brewers, marketers and media-makers.
%section#page-body
  .wrapper
    .spacer-big
    - team_members.in_groups_of(3).each do |group|
      .column-section.clearfix
        - group.compact.each_with_index do |team_member, index|
          .column.one-third.team-member{ class: ('last-col' if index == 2) }
            - if signed_in?
              = link_to edit_team_member_path(team_member) do
                = render 'team_member', team_member: team_member
            - else
              = render 'team_member', team_member: team_member
              -# - team_member.social_attributes.each do |key, value|
              -#   %li{ class: key }
              -#     %a{ href: value }
    .spacer-big
