= render 'layouts/loader'

%section#hero.hero-big
  #page-title.wrapper-small.align-center
    = image_tag 'logo-large-white.png', style: 'width: 50%;'
    %h6.title-alt.uppercase Seed VC
    .spacer-medium
    = link_to 'Tell us about your company', new_pitch_path, class: 'sr-button button-big'
