%section#hero.hero-big.text-light.parallax-section{ :style => "color: black" }
  #page-title.wrapper-small.align-center
    = image_tag 'logo-large-white.png', style: 'width: 50%; padding-left:50'
    %h6.title-alt.uppercase Seed Fund

%section#page-body
  .spacer-big
  

    .wrapper-small.align-center
      .spacer-medium
      %p
        = link_to 'Tell us', new_pitch_path, class: 'sr-button button-big'
    .spacer-big