= render 'layouts/loader'

%section#hero.hero-big
  #page-title.wrapper-small.align-center
    = image_tag 'logo-large-white.png', style: 'width: 50%;'
    %h6.title-alt.uppercase Seed VC
    .spacer-medium
    %h6.title-alt
      Silicon Balls is fully invested and not taking new applications. Thanks for stopping by!
