%section#hero.hero-big{:style => "background:rgba(0,0,0,0.06);"}
  #page-title.wrapper
    %h1
      We're a
      %strong
        %em Startup Fund
      %br/
      that's excited about
      %strong
        %em Adelaide
    .spacer-small
    %h5.title-alt
      We fund early-stage companies with potential for big growth.
      %br>/
      Our goal is to help increase the number of quality ventures in Adelaide,
      %br/
      and to provide a model for early-stage angel investment in Australia.
%section#page-body
  .spacer-big
  .wrapper
    .column-section.clearfix
      .column.one-third.align-center
        %i.fa.fa-cubes.fa-5x
        %h3 Very early-stage investment
        %p Investing in very early stage ventures so as to expand the range of what is considered “investable” (and demonstrating how to do so)
      .column.one-third.align-center
        %i.fa.fa-dollar.fa-5x
        %h3 With readily-available capital
        %p Deploying capital quickly and decisively, stimulating deal flow and encouraging innovation within the Adelaide ecosystem.
      .column.one-third.last-col.align-center
        %i.ion.ion-heart.ion-6x
        %h3
          That's pro-people
          %br/
          &nbsp
        %p Establishing non-predatory investment terms as the norm for early-stage investment, and maintaining a focus on growing people that we work with.
    .spacer-big
  .spacer-big
  .wrapper
    %h3.align-center Want to talk?
    .spacer-medium
    %p.align-center
      = link_to 'Apply', application_path, class: 'sr-button button-big'
  .spacer-big
