%section#hero.hero-full
  #page-title.wrapper.align-center
    .spacer-big
    %h3 Philosophy
    %h1
      %strong
        %em Todo
    .spacer-big
    %h5.title-alt
      Feel free to share content ideas...
