%section#hero.hero-full
  #page-title.wrapper.align-centre
    %h3 What we look for
    .spacer-small
    %h4 Big Potential
    %h5.title-alt
      %p We only look at businesses targetting really big markets. If you're not out to build a $100M+ company in the next 5 years, that's fine, but we're not the right partner.
    .spacer-small
    %h4 Amazing Founders
    .spacer-small
    %h5.title-alt
      %p We look for founders that are, at their core, driven by quality. Every pressure on a young company conspires to reduce quality: limited time, limited money, limited resources, skill-sets, manpower... the only thing that can balance the scale is a founder's deep, personal obsession with delivering high-quality products, services, and experiences.
      %p We want founders we can rely on, which means founders who know their space <em>way</em> better than we do, who know <em>how</em> to measure their progress, and who measure it religiously (and honestly).
      %p
        Most of all, we seek founders that are
        = link_to "relentlessly resourcesful", "http://www.paulgraham.com/relres.html"
        \in the face of obstacles or setbacks. Paul Graham covers this pretty well in his
        = link_to "blog post", "http://www.paulgraham.com/relres.html"
        , so we won't add any more.
    .spacer-small
    %h4 Seed Stage
    .spacer-small
    %h5.title-alt
      %p We only fund companies at the Seed stage or earlier, for three reasons:
      %ol
        %li
          %strong It's where we can make an impact, money-wise.
        %p The Fund invests up to $50k, and although we’re very proactive about bringing angels from our network into deals, the truth is that if you’re raising more than $1M, we’re not worth your time.
        %li
          %strong It’s where we can make an impact, speed-wise.
        //add link to term sheet
        %p When we’re interested, we move quickly, because our immediate priority becomes getting you out of “fundraising mode” and back into “growth mode” asap. We’re happy to lead (if we do, your Term Sheet will look a lot like this), and help however we can to pull your other investors over the line.
        %li
          %strong It’s where we can make an impact, personally.
        %p Every partner in the Fund has spent a fair bit of time in or with young, high-growth companies, and our collective experience and networks will be most useful to companies at this stage.
