%section#hero.hero-full
  #page-title.wrapper.align-center
    %h2
      Sorry, something went wrong.
      %br/
      We've been notified and will look into it.
    .spacer-medium
    %h1.notfound
      %strong 500
    .spacer-medium
    = link_to 'Back to homepage', root_path, class: 'sr-button'
