%section#hero.hero-full
  #page-title.wrapper.align-center
    %h2
      We couldn't find the page you were looking for.
    .spacer-medium
    %h1.notfound
      %strong 404
    .spacer-medium
    = link_to 'Back to homepage', root_path, class: 'sr-button'
