%footer#footer
  -# .footer-inner.wrapper
    .column-section.clearfix
      .column.one-third
        .widget.widget_text
          %p
            %img{:alt => "Logo Dark", :src => "files/uploads/logo-dani-caligraph-dark.png", :srcset => "files/uploads/logo-dani-caligraph-dark.png 1x, files/uploads/logo-dani-caligraph-dark@2x.png 2x"}/
          %p
            We provide perfect and professional services.
            %br>/
            Covering areas of the modern communication.
          %p
            Contact us on
            %a{:href => "http://www.spab-rice.com"}
              %strong contact@dani-theme.com
      .column.two-third.last-col
        .widget.widget_recent_entries
          %h5.widget-title.title-alt
            %strong People
          .column-section.clearfix
            .column.one-third
              %ul
                %li
                  %a{:href => "blog-single-classic.html"} Michael Dawson
                  %span.post-date Software
                %li
                  %a{:href => "blog-single-classic.html"} Steve Auch
                  %span.post-date Defense
                %li
                  %a{:href => "blog-single-classic.html"} Harry Schiff
                  %span.post-date Advertising
                %li
                  %a{:href => "blog-single-classic.html"} Shawki
                  %span.post-date Retail
            .column.one-third
              %ul
                %li
                  %a{:href => "blog-single-classic.html"} Raf Calabrese
                  %span.post-date
                %li
                  %a{:href => "blog-single-classic.html"} Nick Reade
                  %span.post-date
                %li
                  %a{:href => "blog-single-classic.html"} Rohan Fernandez
                  %span.post-date
                %li
                  %a{:href => "blog-single-classic.html"} Tim Collin
                  %span.post-date
  .footer-bottom.wrapper
    .column-section.clearfix
      .column.one-half
        -# .widget.widget_social
        -#   %ul.socialmedia-widget
        -#     %li.facebook
        -#       %a{:href => "#"}
        -#     %li.twitter
        -#       %a{:href => "#"}
        -#     %li.behance
        -#       %a{:href => "#"}
        -#     %li.pinterest
        -#       %a{:href => "#"}
      .column.one-half.last-col.align-right
        %small
          © 2016 Silicon Balls Pty Ltd
  %a#backtotop{:href => "#"}
