%footer#footer
  %a#backtotop{:href => "#"}
  .footer-bottom.wrapper
    .column-section.clearfix
      .column.one-half
        = image_tag 'logo.png', style: 'width: 100px'
      .column.one-half.last-col.align-right
        %small
          © 2016 Silicon Balls Pty Ltd
