%header#header.wrapper.transparent.not-sticky
  .header-inner.clearfix
    - if layout_options[:header][:display_logo]
      #logo
        = link_to root_path do
          = image_tag 'logo.png'
    = render 'layouts/menu'
