%header#header.wrapper.transparent.not-sticky
  .header-inner.clearfix
    #logo
      = link_to root_path do
        = image_tag 'logo.png'
        -# %img{:alt => "Logo Dark", :src => "files/uploads/logo-dani-dark.png", :srcset => "files/uploads/logo-dani-dark.png 1x, files/uploads/logo-dani-dark@2x.png 2x"}/
    =# render 'layouts/menu'
