#page-loader.pulsing
  .loader-name
    = image_tag 'logo.png'
  .loader-circle
    %svg{ style: 'enable-background:new 0 0 253.4 253.4;', version: "1.1", viewbox: "0 0 253.4 253.4", x: "0px", "xmlspace": "preserve", xmlns: "http://www.w3.org/2000/svg", "xmlnsxlink": "http://www.w3.org/1999/xlink", y: "0px" }
      %circle{ cx: '126.7', cy: '126.7', r: '124.2' }
