#menu.clearfix{ class: layout_options[:header][:menu_class] }
  .menu-toggle
    %span.hamburger
    %span.cross
  #menu-inner
    %nav#main-nav
      %ul
        %li= link_to 'Home', root_path
        %li= link_to 'Philosophy', philosophy_path
        %li= link_to 'People', team_members_path
