#menu.clearfix
  .menu-toggle
    %span.hamburger
    %span.cross
  #menu-inner
    %nav#main-nav
      %ul
        %li
          %a{:href => "index.html"} Home
        %li
          %a{:href => "index.html"} Philosophy
        %li
          %a{:href => "page-about.html"} People
        %li
          %a{:href => "element-buttons.html"} Contact
